/* VARIABLES */

// Colors
$color-primary-0: #458E00;	// Main Primary color */
$color-primary-1: #72E900;
$color-primary-2: #63CB00;
$color-primary-3: #152A00;
$color-primary-4: #020500;
// Fonts
$fontStack: Verdana, sans-serif;
$mainTimer: 42px;

